.homeContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.homeContainer > * {
  padding: 3rem;
  background: #fff;
  border-radius: 2.5rem;
  font-size: 1.5rem;
  margin: auto 0;
  color: #424242;
  text-decoration: none;
  cursor: pointer;
  border: 0px solid #424242;
  box-sizing: border-box;
  width: 12rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homeContainer > *:hover {
  border-width: 1px;
}

.navigationBar {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationBar > button {
  background-color: #fc5c65;
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.desc {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.feedbackContainer {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #d3d3d3;
  border-radius: 3rem;
}

.feedbackContainer > p {
  padding: 2rem 2rem 0 2rem;
}
